/* Centers the application and limits its maximum width */
#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #13293D;
  font-family: Arial, sans-serif;
}

/* Container for the app */
.app-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url('./assets/image1.png'); /* Path to the saved image */
  background-size: cover;
  background-position: center;
}

/* Overlay for darkening the entire viewport */
.app-container.overlay-active::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
  z-index: 999; /* Ensures overlay is on top */
  pointer-events: none; /* Prevents clicks on overlay */
}

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  display: flex;
  flex: 1;
  height: calc(100vh - 60px); /* Allocates remaining space under the header */
  overflow: hidden; /* Restricts scroll to main-content area */
}

/* Adds top padding to ensure content is not hidden under the fixed navbar */
.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  padding-top: 100px;
  margin-left: 60px;
  height: 100%; /* Ensures main-content occupies full space */
}

/* Ensures main-content is below overlay */
.app-container.overlay-active .main-content {
  position: relative;
  z-index: 500; /* Ensures content is under overlay */
  pointer-events: none; /* Disables clicks */
}