 /* Styles for the main classification selection container */
 .classification-selection {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Styles for the heading within the classification selection */
.classification-selection h2 {
  color: #13293D;
  font-size: 20px;
  margin-bottom: 50px;
}

/* Styles for the container holding the selection buttons */
.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

 /* Styles for the individual selection buttons */
.selection-button {
  background-color: grey;
  color: #E8F1F2;;
  border: none;
  padding: 20px 70px;
  font-size: 25px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1 1 auto; 
  min-width: 250px; 
  max-width: 100%; 
}

/* Styles for selection buttons when hovered */
.selection-button:hover {
  background-color: rgb(95, 94, 94);
}

/* Styles for the selected button (turn green when clicked) */
.selection-button.selected {
background-color: #28a745;
color: white;
}

.dropdown-container {
  margin-top: 10px;
}

/* Style for labels inside the dropdown container */
.dropdown-container label {
  display: block;
  margin-bottom: 5px;
}

/* Styles for the dropdown select element */
.dropdown-container select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.custom-text-input {
  margin-top: 30px; /* Adjust this value for more or less space above */
  width: 80%;
}

