/* Container styling */
.start-container {
    background-color: #13293D; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e8f1f2;
    font-family: Arial, sans-serif;
  }
  
  /* Text container styling */
  .text-container {
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  /* Button styling */
  .get-started-btn {
    background-color: #1B98E0; 
    color: #e8f1f2;;
    border: none;
    padding: 10px 20px;
    font-size: 40px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
  }
  
  .get-started-btn:hover {
    background-color: #1B98E0; 
  }